@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-main-page: #FFFFFF;
  --backg-inputs: #D9D9D9;
  --backg-inputs-submit: #044AFF45;
  --backg-inputs-red: #EE545422;
  --backg-container-blue: #044AFF45;
  --backg-container-gray: #D9D9D9;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-table-rgb: rgb(66 85 113);
  --border-radius-input: 20px;
  --backdrop-filter-modal:blur(5px)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.main_page {
  background : var(--background-main-page);
  background-image:url('../../public/vector-main.png');
  background-repeat: no-repeat;
  background-size: 450px 450px;
  background-position: bottom right;
}
.main_page.login {
  background : var(--background-main-page);
  background-image:url('../../public/vector-login.png');
  background-repeat: no-repeat;
  background-size: 300px 600px;
  background-position: bottom right;
}
.custom_modal {
  backdrop-filter: var(--backdrop-filter-modal);
}
/* input {
  background : var(--backg-inputs);
  border-radius: 20px;
} */
button.button-login {
  background : var(--backg-inputs-submit);
  border-radius: 20px;
}
.focus-pointer:focus,
.focus-pointer:focus-within {
  cursor: pointer;
}
.model_table {
  background-color : var(--background-table-rgb);
}

/*dark:drop-shadow-[0_0_0.3rem_#ffffff70] dark:invert before:absolute 
before:h-[300px] before:w-full sm:before:w-[480px] 
before:-translate-x-1/2 before:rounded-full before:bg-gradient-radial 
before:from-white before:to-transparent before:blur-2xl before:content-[''] 
after:absolute after:-z-20 after:h-[180px] after:w-full sm:after:w-[240px] 
after:translate-x-1/3 after:bg-gradient-conic after:from-sky-200 after:via-blue-200 
after:blur-2xl after:content-[''] before:dark:bg-gradient-to-br before:dark:from-transparent 
before:dark:to-blue-700 before:dark:opacity-10 after:dark:from-sky-900 after:dark:via-[#0141ff] 
after:dark:opacity-40 before:lg:h-[360px] z-[-1] */